body {
	display: flex;
	min-height: 100vh;
	margin: 0;
	background-color: white;
	font: 14px "Helvetica Neue", "Nimbus Sans", "Helvetica", "Arial", sans-serif;
	flex-direction: column;
}

.ltr {
    direction: ltr;
}

.rtl {
    direction: rtl;
}

#main {
	flex: 1 0 auto;
    max-width: 40em;
	text-align: center;
    align-self: center;
    padding: 1em 1em 0 1em;
}

header {
    all: initial;
    display: block;
    max-width: 40em;
    align-self: center;
}

.error {
    border: solid thin red;
    color: red;
    padding: 0.5em;
    margin: 0.5em;
}

.wikipedia-logo img {
	height: 250px;
}

#main-content {
	text-align: left;
	margin-top: 2em;
}

.search-languages {
    margin-bottom: 0.5em;
}

.search-languages a {
    color: #36c;
}

.search-languages .current {
    text-decoration: none;
    color: #575757;
}

#search-form {
	display: flex;
}

#search-field {
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	border: 1px solid #a2a9b1;
	border-right: none;
	height: 45px;
	width: 100%;
	padding: 10px;
	font-size: 16px;
	outline: #36c;
}

#search-field:active,
#search-field:focus {
	border-color: #36c;
    border-width: 2px;
}

#search-suggestion-list {
	position: absolute;
	text-align: left;
	background-color: #FFFFFF;
	border: 1px solid #a2a9b1;
	border-top: none;
	display: none;
	max-width: 40em;
	box-sizing: border-box;
    margin-right: 1em;
}

.search-item {
	box-sizing: border-box;
	width: 100%;
	display: inline-block;
	line-height: 45px;
	font-size: 16px;
	color: #575757;
	padding-left: 10px;
	outline: #36c;
}

.search-item:hover,
.search-item:focus {
	color: #575757;
	background-color: #f3f3f3;
}

.exact-match {
	font-weight: bold;
}

#search-button {
	background-color: #36c;
	border: none;
	padding: 0;
	cursor: pointer;
	border-radius: 0 2px 2px 0;
	transition: background .1s ease,color .1s ease,border-color .1s ease,box-shadow .1s ease,-webkit-box-shadow .1s ease,-moz-box-shadow .1s ease;
	width: 90px;
}

#search-button:hover {
	background: #447ff5;
	border-color: #447ff5;
}

#search-button img {
    height: 25px;
}

footer {
	background-color: #202520;
	padding: 1em;
    margin-top: 1em;
	color: #ffffff;
}

footer a {
	color: #fff;
}

#footer-content {
    gap: 1em;
    display: flex;
    flex-wrap: wrap;
}

#footer-content > * {
    flex: 1 1 200px;
}

.footer-link-list {
    list-style: none;
    padding-left: 1em;
}

.footer-link-list li {
    margin-top: 1em;
}

#logo-description {
    font-size: large;
    font-family: serif;
    font-style: italic;
}

.footer-logo {
    width: 300px;
}

#attributions {
    font-size: small;
}

@media (max-width: 600px) {
    .wikipedia-logo img {
		height: 200px;
	}

    /* #banner { */
    /*     /\* width: 40em; *\/ */
    /*     padding: 0 1em; */
    /*     margin-top: 1em; */
    /*     align-self: center; */
    /*     border: 1px solid #a2a9b1; */
    /*     border-radius: 2px; */
    /* } */
}

/* iPad landscape selector to ensure input field is always on screen */
@media (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
	.wikipedia-logo img {
		height: 200px;
	}

	#main-content {
		margin: 10px 0 0 0;
	}
}
