body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 100vh;
	margin:0;
	padding:0;
	background-color:white;
	font: 14px 'Helvetica Neue','Nimbus Sans','Helvetica','Arial',sans-serif;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-ms-flex-direction:column;
	flex-direction:column;
}

#main {
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
    max-width: 40em;
	text-align: center;
    align-self: center;
}

.exact-match {
	font-weight: bold;
}

.search-item {
	box-sizing: border-box;
	width: 100%;
	display: inline-block;
	min-height: 25px;
	line-height: 25px;
	font-size: 15px;
	color: #575757;
	padding: 10px 20px 10px 10px;
}

.search-item:hover,
.search-item:focus {
	color: #575757;
	background-color: #f3f3f3;
}

#search-suggestion-list {
	position: absolute;
	text-align: left;
	background-color: #FFFFFF;
	border: 1px solid #a2a9b1;
	border-top: none;
	display: none;
	max-width: 40em;
	box-sizing: border-box;
}

#maincontent {
	text-align: left;
	margin-top: 2em;
}

.search-form {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.search-languages {
    margin-bottom: 0.5em;
}

.search-languages a {
    color: #36c;
}

.search-languages .current {
    text-decoration: none;
    color: #575757;
}

.search-form input {
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	border: 1px solid #a2a9b1;
	border-right: none;
	height: 45px;
	width: 100%;
	padding: 0.5em;
	font-size: 16px;
	line-height: 1.6;
	-webkit-appearance: textfield;
	-webkit-tap-highlight-color: #36c;
	outline: #36c;
}

.ltr {
    direction: ltr;
}

.rtl {
    direction: rtl;
}

.search-form input:active,
.search-form input:focus {
	border-color: #36c;
    border-width: 2px;
}

.button-ooui-like {
	background-color: #36c;
	border: none;
	padding: 0;
	cursor: pointer;
	border-radius: 0 2px 2px 0;
	transition: background .1s ease,color .1s ease,border-color .1s ease,box-shadow .1s ease,-webkit-box-shadow .1s ease,-moz-box-shadow .1s ease;
	width: 90px;
}

.button-ooui-like:hover {
	background: #447ff5;
	border-color: #447ff5;
}

#cmdSearch img {
    height: 25px;
}

footer {
	background-color: #202520;
	padding: 1em;
	color: #ffffff;
}

#footer-content {
    gap: 1em;
    display: flex;
    flex-wrap: wrap;
}

#footer-content * {
    flex: 1 1 200px;
}

footer a {
	color: #fff;
}

.footer-link-list {
    list-style: none;
    padding-left: 1em;
}

.footer-link-list li {
    margin-bottom: 1em;
}

#logo-description {
    font-size: large;
    font-family: serif;
    font-style: italic;
}

.wikipedia-logo img {
	height: 250px;
}

.footer-logo {
    width: 300px;
}

#attributions {
    font-size: small;
}

@media (max-width: 600px) {
    .wikipedia-logo img {
		height: 200px;
	}

	#mainbox {
		padding: 1em 1.5em 4em 1.5em;
	}
}

#featurebox strong {
	display: block;
	font-size: 14px;
	margin: 0 0 7px 0;
	color: #202520;
}

/* iPad landscape selector to ensure input field is always on screen */
@media (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
	.wikipedia-logo img {
		height: 200px;
	}
	#mainbox {
		padding: 0 1.5em 4em 1.5em;
	}
	#maincontent {
		margin: 10px 0 0 0;
	}
}

#banner {
    max-width: 40em;
    padding: 0 1em;
    margin-top: 1em;
    align-self: center;
    border: 1px solid #a2a9b1;
    border-radius: 2px;
}
