<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0" />
    <title>{{ _('Wikipedia, the free encyclopedia') }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/wikipedia.png') }}" />
    <link rel="stylesheet" media="screen" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.cookie.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/suggest.js') }}" defer></script>
</head>

<body>
    <div id="WMDE-Banner-Container"></div>
    <div id="main">
        <div id="mainbox">
            <div class="wikipedia-logo">
                <a href="https://{{ lang }}.wikipedia.org/"><img src="{{ url_for('static', filename='images/wikipedia-logo.svg') }}" title="{{ _('Wikipedia\'s main page') }}" alt="{{ _('Wikipedia - the free encyclopedia') }}"/></a>
            </div>
            <div id="maincontent">
                <div id="form">
                    {% if search_languages -%}
                    <div class="search-languages">
                        {% for code, language in search_languages.items() -%}
                        <a href="{{ url_for('start') + code }}" {% if code == search_language %}class="current"{% endif %}>{{ language }}</a> •
                        {% endfor -%}
                        <a href="https://wikipedia.org/" >{{ _('More languages') }}</a>
                    </div>
                    {%- endif %}
                    <form id="frmSearch" class="search-form" action="go" method="get" accept-charset="UTF-8">
                        <input type="text" id="txtSearch" name="q" alt="Search Criteria" onkeyup="triggerSuggestLater('{{ search_language }}')" autocomplete="off" placeholder="{{ _('Search Wikipedia') }}" autofocus />
                        <input type="hidden" name="l" value="{{ search_language }}" />
                        <button type="submit" id="cmdSearch" class="button-ooui-like" name="b"><span class="search-icon"></span></button>
                    </form>
                </div>
                <div id="search_suggest"></div>
            </div>
            <div id="wmde-banner-featurebox"></div>
        </div>
        <footer class="page-footer" id="donationfooter">
            <div class="link-block">
                <ul>
                    {% if footer.logo or footer.text %}
                    <li id="footer-logo">
                        {% if footer.logo %}
                        {% if footer.logo.url %}<a href="{{ footer.logo.url }}">{% endif %}
                            <img class="wikimedia-logo" src="{{ url_for('static', filename='images/footer-logo.svg') }}" alt="{{ footer.logo.alt }}">
                            {% if footer.logo.url %}</a>{% endif %}
                        {% endif %}
                        {% if footer.text %}<p id="logo-description">{{ footer.text }}</p>{% endif %}
                    </li>
                    {% endif %}
                    <li>
                        <p><strong>Wikimedia Deutschland e. V.</strong></p>
                        <p><a href="https://www.wikimedia.de/de/ueber-uns">Über uns</a></p>
                        <p><a href="https://www.wikimedia.de/datenschutz">Datenschutz</a></p>
                        <p><a href="https://www.wikimedia.de/de/impressum">Impressum & Kontakt</a></p>
                    </li>
                    <li>
                        <p><strong>Mitwirken</strong></p>
                        <p><a href="https://spenden.wikimedia.de/apply-for-membership?piwik_campaign=wpdefooter&piwik_kwd=wpdefooterbtn">Mitglied werden</a></p>
                        <p><a href="https://spenden.wikimedia.de/?piwik_campaign=wpdefooter&piwik_kwd=wpdefooterbtn">Jetzt spenden</a></p>
                        <p><a href="https://spenden.wikimedia.de/use-of-funds?piwik_campaign=wpdefooter&piwik_kwd=wpdefooterbtn">Mittelverwendung</a></p>
                    </li>
                    <li>
                        <p><strong>Vereinskanäle</strong></p>
                        <p><a href="https://blog.wikimedia.de/">Unser Blog</a></p>
                        <p><a href="https://www.facebook.com/WikimediaDE/">Facebook</a></p>
                        <p><a href="https://twitter.com/wikimediade">Twitter</a></p>
                    </li>
                </ul>
            </div>
            {{ _('Images:') }}
            {{ wikipedia_logo_attribution|safe }}
            {%- if footer.logo and footer.logo.attribution -%}
            ; {{ footer.logo.attribution|safe }}
            {%- endif %}
        </footer>
    </div>
</body>
</html>
