<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0" />
    <title>{{ _('Wikipedia, the free encyclopedia') }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/wikipedia.png') }}" />
    <link rel="stylesheet" media="screen" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/suggest.js') }}" defer></script>
    {% include "javascript.html" ignore missing %}
</head>
<body>
    <header>
        {% if banner %}
        {{ banner|safe }}
        {% endif %}
    </header>
    <div id="main">
        <div class="wikipedia-logo">
            <a href="https://{{ lang }}.wikipedia.org/"><img src="{{ url_for('static', filename='images/wikipedia-logo.svg') }}" title="{{ _('Wikipedia\'s main page') }}" alt="{{ _('Wikipedia - the free encyclopedia') }}"/></a>
        </div>
        <div id="main-content">
            {% if search_languages -%}
            <div class="search-languages">
                {% for code, language in search_languages.items() -%}
                <a href="{{ url_for('start', language=code) }}" {% if code == search_language.code %}class="current"{% endif %}>{{ language.link }}</a> •
                {% endfor -%}
                <a href="https://wikipedia.org/" >{{ _('More languages') }}</a>
            </div>
            {%- endif %}
            <form id="search-form" action="go" method="get" accept-charset="UTF-8">
                <input type="text" id="search-field" {% if search_language.direction %}class={{ search_language.direction }}{% endif %} name="q" onkeyup="triggerSuggestLater('{{ search_language.code }}')" autocomplete="off" placeholder="{{ search_language.placeholder }}" autofocus />
                <input type="hidden" name="l" value="{{ search_language.code }}" />
                <button type="submit" id="search-button"><img src="{{ url_for('static', filename='images/search-icon.svg') }}"></button>
            </form>
            <div id="search-suggestion-list">
                {% for _ in range(10) %}
                <a class="search-item search-suggestion"></a>
                {% endfor %}
            </div>
        </div>
    </div>
    <footer>
        <div id="footer-content">
            {% for block in footer %}
            <div>
                {% if block.block_type == "logo" %}
                {% if block.url %}<a href="{{ block.url }}">{% endif %}
                    <img class="footer-logo" {% if block.width %}style="width: {{block.width}};"{% endif %} src="{{ url_for('static', filename='images/' + block.image) }}" alt="{{ block.alt }}">
                    {% if block.url %}</a>{% endif %}
                {% if block.text %}<p id="logo-description">{{ block.text }}</p>{% endif %}
                {% elif block.block_type == "links" %}
                {% if block.header %}<h2>{{ block.header }}</h2>{% endif %}
                <ul class="footer-link-list">
                    {% for label, url in block.links.items() %}
                    <li><a href="{{ url }}">{{ label }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% if attributions %}
        <div id="attributions">
            {{ _('Images:') }}
            {%- for attribution in attributions -%}
            {{ attribution|safe }}
            {% endfor %}
        </div>
        {%- endif -%}
    </footer>
</body>
</html>
